body {
  background-color: antiquewhite;
    font-family: 'raleway', sans-serif;
}

title{
    font: 'raleway', sans-serif;
}

h1 {
  color: black;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 5px;
}

h2 {
    font-size: 12pt;
    padding: 10px;
    color: gray;
}
h3 {
    font-size: 15pt;
    padding-top: 50px;
}

h4 {
    font-size: 15pt;
    padding-top: 20px;
}